# FastAPI Configuration
ENV=development
APP_NAME="DevMatch AI Backend"

# Database Configuration
# In docker-compose, this is postgres:5432
POSTGRES_DB=devmatch_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
DATABASE_URL=postgresql+asyncpg://postgres:CHANGE_ME@postgres:5432/devmatch_db

# Security
JWT_SECRET=CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SIGNUP_SECRET=CHANGE_ME


